* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*Start Accordion Section*/
.accordion__content {
	width: 100%;
	padding: 100px 0 50px;
	margin: 0 auto;
}
.wrapper {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	text-align: center;
}
.questions__txt {
	text-align: center;
	padding: 0 15px;
}
.questions__txt h2 span {
	font-size: 44px;
	color: rgb(61, 53, 110);
	font-family: Ubuntu;
	font-weight: 900;
	line-height: 1.4em;
	letter-spacing: 4px;
}
.acordion {
	width: 100%;
	max-width: 750px;
	min-height: 400px;
	padding: 55px 0 40px;
	margin: 0 auto;
}
.accordion__item {
	width: 100%;
	max-width: 750px;
	min-height: 150px;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #8590af;
}
.accordion__item-header {
	font-size: 19px;
	line-height: 1.5em;
	padding: 18px 30px 18px 0;
}
.accordion__item-header a {
	color: rgb(30, 22, 102);
}
.accordion__item-header:hover a {
	color: rgb(13, 156, 252);
}
.accordion__item .accordion__item-body p span {
	color: #8590af;
	font-size: 15px;
	line-height: 25px;
	padding: 15px 0;
	display: none;
}
.accordion__item .accordion__item-body p span .open {
	display: block;
}
/* End Accordion Section*/


